<button pButton *ngIf="!file_ready && !cargando" (click)="generarPdf()" class="p-button-danger boton-pdf" icon="pi pi-download" label="Exportar en PDF"></button>
<button pButton *ngIf="!file_ready && cargando" label="Obteniendo datos" icon="pi pi-spin pi-spinner" class="boton-pdf"></button>
<button pButton *ngIf="file_ready && !cargando" [disabled]="!file_ready" (click)="_descargarPdf()" class="p-button-success boton-pdf" icon="pi pi-save" label="Generar"></button>
<button pButton *ngIf="file_ready && cargando" label="Generando PDF" class="p-button-success boton-pdf" icon="pi pi-spin pi-spinner"></button>

<!-- <button pButton (click)="generarPdf()"></button> -->