.boton-pdf {
    min-width: 10rem;
    width: 100%;
}

.drop-gray {
    color: hsl(211, 21%, 74%);
    font-weight: bold;
    float: right;
    letter-spacing: 2px;
}

::ng-deep .p-inputnumber-input {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 6px !important;
}

::ng-deep .p-inputnumber .p-button.p-button-icon-only {
    width: auto !important;
}

::ng-deep .p-inputnumber .p-button-icon {
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 6px !important;
}


/* .card .row.align-items-center {
    height: 0;
    display: none;
    transition: height 0.2s;
}

.card:hover .row.align-items-center {
    height: auto !important;
    display: block;
}

.card {
    transition: height 0.2s;
} */