.boton-pdf {
    min-width: 10rem;
    width: 100%;
}

.drop-gray {
    /* color: hsl(211, 21%, 74%); */
    /* color: #EF4444 !important; */
    /* font-weight: bold; */
    float: right;
    /* letter-spacing: 2px; */
}

.drop-gray::before {
    content: "";
    margin-right: 2px;
}

.drop-gray::after {
    content: "";
    margin-left: 2px;
}

::ng-deep .p-inputnumber {
    width: 100% !important;
}

::ng-deep .p-inputnumber-input {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 6px 0 0 6px !important;
}

:ng-deep .p-inputnumber {
    /* background-color: #EF4444 !important; */
}

::ng-deep .p-inputnumber .p-button.p-button-icon-only {
    width: 1.5rem !important;
    height: auto !important;
    border: 1px solid lightgray !important;
    border-left: none !important;
}

::ng-deep .p-inputnumber .p-button.p-button-icon-only.up {
    border-bottom: none !important;
}

::ng-deep .p-inputnumber .p-button.p-button-icon-only.down {
    border-top: none !important;
}

::ng-deep .p-inputnumber .p-button-icon {
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 6px !important;
}

.avanzados {
    transform: scaleY(0);
    max-height: 0;
    opacity: 0;
    transform-origin: top;
    transition: transform 0.3s, max-height 0.3s, opacity 0.3s;
}

.avanzados.activo {
    transform: scaleY(1);
    max-height: 500px;
    opacity: 1;
}

::ng-deep .p-togglebutton.p-button {
    /* width: 100% !important; */
    box-shadow: none !important;
    transform: scale(0.9);
}

::ng-deep .p-togglebutton.p-button.p-highlight {
    background: #EF4444 !important;
    border-color: #EF4444 !important;
    color: white !important;
}


/* .card .row.align-items-center {
    height: 0;
    display: none;
    transition: height 0.2s;
}

.card:hover .row.align-items-center {
    height: auto !important;
    display: block;
}

.card {
    transition: height 0.2s;
} */