<!-- <button pButton *ngIf="!file_ready && !cargando" (click)="exportarPdf()" class="p-button-danger boton-pdf" icon="pi pi-download" label="Exportar en PDF"></button>
<button pButton *ngIf="!file_ready && cargando" label="Obteniendo datos" icon="pi pi-spin pi-spinner" class="boton-pdf"></button>
<button pButton *ngIf="file_ready && !cargando" [disabled]="!file_ready" (click)="_descargarPdf()" class="p-button-success boton-pdf" icon="pi pi-save" label="Generar"></button>
<button pButton *ngIf="file_ready && cargando" label="Generando PDF" class="p-button-success boton-pdf" icon="pi pi-spin pi-spinner"></button> -->

<!-- <button pButton (click)="generarPdf()"></button> -->

<div class="card shadow-sm py-4 pr-4 pl-4 text-left" [formGroup]="pdfForm">
    <!-- div class="row align-items-center">
        <div class="col-12 pt-1">Imagen</div>
        <div class="col-12">
            <p-dropdown formControlName="imagen" [options]="opcionesImagen" optionLabel="label" name="imagenes" class="w-100" styleClass="w-100">
            </p-dropdown>
        </div>
    </div -->

    <div class="row pb-2 justify-content-center align-items-center" style="color: #EF4444">
        <span class="bi" [ngClass]="cargando?'bi-file-earmark-pdf-fill':'bi-file-earmark-pdf'" style="font-size:1.5rem;"></span>
        <span class="pl-2">PDF</span>
    </div>

    <div class="row align-items-center">
        <div class="col-12 pt-1">Copias</div>
        <div class="col-12">
            <p-dropdown formControlName="copias" [options]="opcionesCopias" optionLabel="label" name="imagenes" class="w-100" styleClass="w-100">
            </p-dropdown>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-12 pt-2">Calidad</div>
        <div class="col-12">
            <p-dropdown formControlName="calidad" [options]="opcionesCalidad" optionLabel="label" name="formato" class="w-100" styleClass="w-100">
                <!-- <ng-template pTemplate="selectedItem" class="w-100">
                    <div class="d-flex w-100 justify-content-between" *ngIf="pdfForm.controls['calidad'].value">
                        <div>{{pdfForm.controls['calidad'].value.label}}</div>
                        <div class="drop-gray">
                            <span *ngIf="pdfForm.controls['calidad'].value.code == 'best'">PNG</span>
                            <span *ngIf="pdfForm.controls['calidad'].value.code != 'best'">JPG</span>
                        </div>
                    </div>
                </ng-template>
                <ng-template let-calidad pTemplate="item">
                    <div class="d-flex w-100 justify-content-between">
                        <div>{{calidad.label}}</div>
                        <div class="drop-gray">
                            <span *ngIf="calidad.code == 'best'">PNG</span>
                            <span *ngIf="calidad.code != 'best'">JPG</span>
                        </div>
                    </div>
                </ng-template> -->
            </p-dropdown>
        </div>
    </div>

    <!-- <div class="row align-items-center justify-content-center">
        <div class="col-12 pt-2 d-flex justify-content-center">
            <p-toggleButton (click)="toogleAvanzados()" styleClass="p-button-text p-button-rounded p-button-secondary p-button-sm" onIcon="pi pi-chevron-up" offIcon="pi pi-cog" onLabel="Configuración" offLabel="Configuración"></p-toggleButton>
        </div>
    </div> -->


    <div class="avanzados" [ngClass]="{'activo': true}">

        <div class="row align-items-center">

            <div class="col-12 pt-2">
                <!-- <i class="bi bi-aspect-ratio pr-2"></i> -->
                Márgenes de la página</div>
            <div class="col-12 row justify-content-center" style="font-size: 0.8em">
                <div class="col-6">Izquierda</div>
                <div class="col-6 pl-4">Arriba</div>
            </div>
            <div class="col-12">
                <p-inputNumber class="w-50 pr-2" prefix="" suffix=" mm" formControlName="margenX" [showButtons]="true" buttonLayout="stacked" inputId="horizontal" spinnerMode="horizontal" [step]="1" decrementButtonClass="p-button-secondary p-button-text down" incrementButtonClass="up p-button-secondary p-button-text"
                    incrementButtonIcon="pi pi-chevron-up" decrementButtonIcon="pi pi-chevron-down">
                </p-inputNumber>
                <p-inputNumber class="w-50 pl-2" prefix="" suffix=" mm" formControlName="margenY" [showButtons]="true" buttonLayout="stacked" inputId="horizontal" spinnerMode="horizontal" [step]="1" decrementButtonClass="p-button-secondary p-button-text down" incrementButtonClass="up p-button-secondary p-button-text"
                    incrementButtonIcon="pi pi-chevron-up" decrementButtonIcon="pi pi-chevron-down">
                </p-inputNumber>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-12 pt-2">
                <!-- <i class="bi bi-bounding-box pr-2"></i> -->
                Separación entre cartas</div>
            <!-- <div class="col-12 pb-2">
                <p-inputNumber class="w-100" suffix=" mm" formControlName="distancia" [showButtons]="true" buttonLayout="stacked" inputId="horizontal" spinnerMode="horizontal" [step]="0.05" decrementButtonClass="p-button-secondary p-button-text" incrementButtonClass="p-button-secondary p-button-text"
                    incrementButtonIcon="pi pi-chevron-up" decrementButtonIcon="pi pi-chevron-down">
                </p-inputNumber>
            </div> -->
            <div class="col-12 row justify-content-center" style="font-size: 0.8em">
                <div class="col-6">Horizontal</div>
                <div class="col-6 pl-4">Vertical</div>
            </div>
            <div class="col-12">
                <p-inputNumber class="w-50 pr-2" prefix="" suffix=" mm" formControlName="distanciaX" [showButtons]="true" buttonLayout="stacked" inputId="horizontal" spinnerMode="horizontal" [step]="1" decrementButtonClass="p-button-secondary p-button-text down" incrementButtonClass="up p-button-secondary p-button-text"
                    incrementButtonIcon="pi pi-chevron-up" decrementButtonIcon="pi pi-chevron-down">
                </p-inputNumber>
                <p-inputNumber class="w-50 pl-2" prefix="" suffix=" mm" formControlName="distanciaY" [showButtons]="true" buttonLayout="stacked" inputId="horizontal" spinnerMode="horizontal" [step]="1" decrementButtonClass="p-button-secondary p-button-text down" incrementButtonClass="up p-button-secondary p-button-text"
                    incrementButtonIcon="pi pi-chevron-up" decrementButtonIcon="pi pi-chevron-down">
                </p-inputNumber>
            </div>
        </div>

    </div>

    <div class="row justify-content-center">
        <div class="col-11 pt-4 pb-1">
            <button pButton *ngIf="!file_ready && !cargando" (click)="exportarPdf()" class="p-button-danger boton-pdf" icon="pi pi-download" label="Exportar en PDF"></button>
            <button pButton *ngIf="!file_ready && cargando" label="Obteniendo datos" icon="pi pi-spin pi-spinner" class="p-button-danger boton-pdf"></button>
            <button pButton *ngIf="file_ready && !cargando" [disabled]="!file_ready" (click)="downloadZip()" class="p-button-danger boton-pdf" icon="pi pi-save" label="Generar"></button>
            <button pButton *ngIf="file_ready && cargando" label="{{download_progress}}" class="p-button-danger boton-pdf" icon="pi pi-spin pi-spinner"></button>
        </div>
    </div>
</div>