<nav id="nav" class="navbar navbar-expand-lg shadow-md">

    <div class="container">

        <a class="navbar" routerLink="/inicio">
            <h1 id="magic-the-gratis">Magic <em>The Gratis</em></h1>
        </a>

        <!-- button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button -->

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto col-12">

                <li class="nav-item" routerLinkActive="active" *ngIf="logueado">
                    <button pButton label="Inicio" class="nav-link p-button-link" routerLink="/inicio"></button>
                </li>

                <li class="nav-item" routerLinkActive="active" *ngIf="logueado">
                    <button pButton label="Colección" class="nav-link p-button-link" routerLink="/coleccion"></button>
                </li>

                <li class="nav-item" routerLinkActive="active" *ngIf="logueado">
                    <button pButton label="Buscar" class="nav-link p-button-link" routerLink="/buscar"></button>
                </li>

                <li class="nav-item" routerLinkActive="active" *ngIf="logueado">
                    <button pButton label="Importar" class="nav-link p-button-link" routerLink="/importador"></button>
                </li>

                <li *ngIf="admin" class="nav-item dropdown" routerLinkActive="active">
                    <a class="nav-link" role="button" data-toggle="dropdown" aria-expanded="false">
                        <h4 class="dropdown-toggle" id="navbarDropdown">Administracion</h4>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="nav-item " routerLinkActive="active">
                            <a class="nav-link" routerLink="/usuarios">
                                <h4>Usuarios</h4>
                            </a>
                        </li>
                    </div>
                </li>

                <li class="col"></li>

                <li class="nav-item mr-3" routerLinkActive="active" *ngIf="logueado">
                    <button pButton icon="pi pi-user" class="nav-link nav-button p-button-sm p-button-rounded p-button-text p-button-raised" routerLink="/perfil"></button>
                </li>

                <li class="nav-item" routerLinkActive="active" *ngIf="logueado">
                    <button pButton icon="pi pi-sign-out" class="nav-link nav-button p-button-sm p-button-rounded p-button-text p-button-raised" (click)="logOut()"></button>

                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Espaciar el contenido lo que ocupa el navbar -->
<div style="width:100%; height: 7rem;"></div>