<div class="container">

    <!---Buscador-->
    <div class="row justify-content-center">

        <div class="card shadow-md py-3 col-11" style="border-radius: 12px; margin-bottom: 2.5rem; padding-left: 20px; padding-right: 18px;">

            <!-- Menú -->
            <div class="row px-3
             d-flex align-items-center" *ngIf="album">
                <div class="col d-flex flex-nowrap align-items-center">
                    <!---Título Album-->

                    <p class="h4 mb-0 titulo" style="color: dimgray;">
                        <i class="pi pi-book pr-1" style="font-size: 1.25rem;"></i> {{album.nombre}}
                    </p>
                </div>

                <!-- Selector nº cartas por fila -->
                <div class="col-2 d-flex justify-content-end">
                    <div class="number-input align-items-center">
                        <button class="btn" (click)="recargar(-1)" [disabled]="tam_fila <= 3 || cartas?.length == 0"></button>
                        <div class="txt-select"><b>{{tam_fila}}</b></div>
                        <button class="btn btn-secondary" class="btn plus" [disabled]="tam_fila >= 4 || cartas?.length == 0" (click)="recargar(1)"></button>
                    </div>
                </div>

                <!---Enlace a opciones Album-->
                <div class="col-2 d-flex justify-content-end">
                    <button pButton [routerLink]="['/album', album.id, 'config']" icon="pi" label="Opciones" class="p-button-rounded p-button-secondary p-button-raised p-button-sm text-center">
                         <i class="pi pi-ellipsis-h" style="font-size: 1.2em;"></i>
                    </button>
                </div>
            </div>

            <hr class="ml-2 mr-3">

            <div class="row og-toolbar" [formGroup]="filterForm">
                <div class="col-md-6 col-lg-2 d-flex align-items-center justify-content-between">
                    <!-- <i class="col-2 px-2 text-center pi pi-sliders-v" style="color:gray; font-size: 1.2rem; padding-left: 5px;"></i> -->
                    <input type="text" pInputText class="col" placeholder="Nombre" formControlName='nombre' />
                </div>
                <div class="col-md-6 col-lg-2 d-flex align-items-center">
                    <input type="text" pInputText class="col" placeholder="Set" formControlName='set' />
                </div>
                <div class="col-md-6 col-lg-2 d-flex align-items-center">
                    <input type="text" pInputText class="col" placeholder="CMC" formControlName='cmc' />
                    <!-- <p-inputNumber formControlName='cmc' [showButtons]="true" inputId="stacked" class="col" styleClass="mana"></p-inputNumber> -->

                    <!-- <p-inputNumber formControlName='cmc' [showButtons]="true" class="col" styleClass="w-100" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="1" [min]="0" [max]="10"></p-inputNumber> -->
                </div>
                <div class="col-md-6 col-lg-2 d-flex align-items-center">

                    <input type="text" pInputText class="col" placeholder="Color" formControlName='color' />
                </div>
                <div class="col-md-6 col-lg-2 d-flex align-items-center">
                    <input type="text" pInputText class="col" placeholder="Tipo" formControlName='tipo' />
                </div>
                <div class="col-md-6 col-lg-2 d-flex align-items-center">
                    <input type="text" pInputText class="col" placeholder="Texto" formControlName='oracle_text' />
                </div>

            </div>

            <!--hr class="ml-2 mr-3">

            <form class="form-inline md-form form-sm mb-4 row pl-1 pr-2" [formGroup]="searchForm">

                <div class="col-lg-10 col-md-12">
                    <span class="p-input-icon-left w-100">
                        <i class="pi pi-search"></i>
                        <input type="text" pInputText class="w-100" placeholder="Search" formControlName=""/>
                    </span>
                </div>

                <div class="col-lg-2 col-md-12">
                    <button pButton label="Buscar" type="submit" class="w-100"></button>
                </div>
            </form-->

        </div>
    </div>

    <!---Cartas del album-->
    <div class="container mt-4">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div class="alert alert-info mt-3" *ngIf="cartas?.length==0">
                    <img class="album-icon" width="32" height="32" class="mr-3" src="./assets/images/emojis/guino.png"> Busca cartas para añadirlas a tu colección
                    <button type="submit" class="btn btn-primary ml-3" routerLink="/buscar">Añadir cartas</button>
                </div>

                <div class="spinner-border text-primary loading" role="status" *ngIf="cargando && cartas?.length!=0">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>

            <ul class="listaCartas" *ngIf="!cargando && cartasPagina">
                <div class="container">
                    <div class="row">
                        <div [ngClass]="tam_fila <= 3 ? 'col-4' : 'col-3'" *ngFor="let carta of cartasPagina">
                            <li routerLinkActive="active">
                                <app-carta-mini [carta]="carta" [album]="album"></app-carta-mini>
                            </li>
                        </div>
                    </div>
                </div>
            </ul>

        </div>
    </div>
    <!---PAGINADOR-->
    <p-paginator #p *ngIf="totalCartas" styleClass="paginator" [rows]="12" [totalRecords]="totalCartas" [rowsPerPageOptions]="[12,24,48]" (onPageChange)="paginate($event)"></p-paginator>

</div>