::ng-deep .row {
    /* padding: 0; */
}

::ng-deep .row>* {
    /* padding: 0; */
}

.carta-welcome {
    position: relative;
    top: 0;
    object-fit: cover;
    z-index: 3;
    filter: brightness(0.8);
}

.carta-welcome:hover {}

.welcome-container {
    overflow: hidden;
}

.welcome-container:hover .carta-welcome {
    transform: scale(1.1);
    filter: none;
    transition: transform 0.1s, filter 0.1s;
}

.welcome-container:hover {}

.titulo {
    position: absolute;
    top: calc(100vh / 2 + 100px);
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 5rem;
    text-shadow: 10px 10px 10px black;
    z-index: 4;
    font-family: Georgia, 'Times New Roman', Times, serif;
}