<div class="container">
    <div class="row justify-content-between">
        <!-- <div [ngClass]="cartasEncontradas.length > 0 ? 'col-8' : 'col-12'">
            <p-fileUpload styleClass="shadow" name="demo[]" customUpload="true" maxFileSize="1000000" fileLimit="1" [showCancelButton]="false" (uploadHandler)="onUpload($event)" (onRemove)="onCancel()" chooseLabel="Browse"></p-fileUpload>
        </div>

        <div *ngIf="cartasEncontradas.length > 0" class="col-3 p-4">
            <div class="row align-content-center justify-content-center w-75">
                <div class="card-header">
                    Guardar en album
                </div>
                <div class="card shadow rounded-3 col-12">

                    <div class="row">
                        <button pButton icon="pi pi-plus" class="w-100 p-button-sm m-1">Crear nuevo</button>
                    </div>
                    <div class="row">
                        <button pButton icon="pi pi-plus" class="w-100 p-button-sm m-1">Guardar en...</button>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="card col-12 shadow"> -->
        <!-- <div class="row">
                <p-fileUpload mode="basic" name="demo[]" customUpload="true" maxFileSize="1000000" (uploadHandler)="onUpload($event)" chooseLabel="Browse"></p-fileUpload>
                <button pButton label="Cancel" icon="pi pi-times" (click)="onCancel()"></button>
            </div> -->

        <!-- <div class="row"> -->
        <div class="col-12">
            <p-fileUpload styleClass="shadow" name="demo[]" customUpload="true" maxFileSize="1000000" fileLimit="1" [showCancelButton]="false" (uploadHandler)="onUpload($event)" (onRemove)="onCancel()" chooseLabel="Browse">
                <ng-template pTemplate="toolbar">
                    <div class="float-right">
                        <button pButton label="Cancel" icon="pi pi-times" (click)="onCancel()"></button>
                    </div>
                </ng-template>
                <ng-template let-file pTemplate="file">
                    <div class="row justify-content-center">
                        <div class="col-9">
                            <span>{{file.name}}</span>
                            <span class="float-right">{{file.size}} bytes</span>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="content" let-files>
                    <div *ngIf="files.length==0" class="row justify-content-center">
                        <span>Pulsa <em>Browse</em> para comenzar a importar un fichero.</span>
                    </div>
                </ng-template>
            </p-fileUpload>
        </div>
    </div>



    <!-- <div class="row justify-content-center mx-3 mt-4 mb-2">
        <div class="card shadow rounded-3">
            <div class="row">
                <button class="p-button m-1" role="button">Crear nuevo</button>
                </div>
                <div class="row">
                    <button class="p-button m-1" role="button">Guardar en...</button>
                </div>
            </div>
        </div> -->

    <div *ngIf="cartasEncontradas.length > 0" class="row">
        <div class="col-12">
            <div class="card shadow mt-5">
                <p-table [value]="cartasEncontradas" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Nombre</th>
                            <th>Set</th>
                            <th>Rareza</th>
                            <th>Full Res Image?</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-carta>
                        <tr *ngIf="carta.name">
                            <td><button class="btn btn-link" [lightbox]="cartasEncontradas.indexOf(carta)">{{carta.name}}</button></td>
                            <td><span [innerHTML]="carta.set | edicion:'26px' | async"></span></td>
                            <td [ngClass]="getCssRarity(carta.rarity)">{{carta.rarity}}</td>
                            <td>Sí</td>
                        </tr>
                        <tr *ngIf="!carta.name" class="text-danger" style="background-color: #FFCCCC;">
                            <td>
                                <i class="pi pi-exclamation-circle m-2"></i> {{carta.textoBuscado}}
                            </td>
                            <td colspan="2" class="text-center">
                                Carta no encontrada &nbsp;
                            </td>
                            <td>
                                <button class="btn btn-danger" (click)="editarItem(carta)">editar</button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>