<div class="card shadow-sm py-4 pr-4 pl-4 text-left" [formGroup]="zipForm">

    <div class="row align-items-center">
        <div class="col-12 pt-1">Repetidas</div>
        <div class="col-12">
            <p-dropdown formControlName="copias" [options]="opcionesCopias" optionLabel="label" name="imagenes" class="w-100" styleClass="w-100">
            </p-dropdown>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-12 pt-1">Imagen</div>
        <div class="col-12">
            <p-dropdown formControlName="imagen" [options]="opcionesImagen" optionLabel="label" name="imagenes" class="w-100" styleClass="w-100">
            </p-dropdown>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-12 pt-1">Calidad</div>
        <div class="col-12">
            <p-dropdown formControlName="calidad" [options]="opcionesCalidad" optionLabel="label" name="formato" class="w-100" styleClass="w-100">
                <ng-template pTemplate="selectedItem" class="w-100">
                    <div class="d-flex w-100 justify-content-between" *ngIf="zipForm.controls['calidad'].value">
                        <div>{{zipForm.controls['calidad'].value.label}}</div>
                        <div class="drop-gray">
                            <span *ngIf="zipForm.controls['calidad'].value.code == 'best'">PNG</span>
                            <span *ngIf="zipForm.controls['calidad'].value.code != 'best'">JPG</span>
                        </div>
                    </div>
                </ng-template>
                <ng-template let-calidad pTemplate="item">
                    <div class="d-flex w-100 justify-content-between">
                        <div>{{calidad.label}}</div>
                        <div class="drop-gray">
                            <span *ngIf="calidad.code == 'best'">PNG</span>
                            <span *ngIf="calidad.code != 'best'">JPG</span>
                        </div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-11 mt-4 mb-1">
            <button pButton *ngIf="!file_ready && !cargando" (click)="_generarZip()" class="p-button-warning boton-zip" icon="pi pi-download" label="Exportar en ZIP"></button>
            <button pButton *ngIf="!file_ready && cargando" label="Obteniendo datos" icon="pi pi-spin pi-spinner" class="p-button-warning boton-zip"></button>
            <button pButton *ngIf="file_ready && !cargando" [disabled]="!file_ready" (click)="downloadZip()" class="p-button-warning boton-zip" icon="pi pi-save" label="Generar"></button>
            <button pButton *ngIf="file_ready && cargando" label="{{download_progress}}" class="p-button-warning boton-zip" icon="pi pi-spin pi-spinner"></button>
        </div>
    </div>
</div>