<div style="height: 3rem;"></div>
<footer class="container-fluid rounded-top text-center p-2">
    <!-- el ultimo p-2 del footer fuerza el scrollbar en todas las páginas -->
    <div class="py-2" style="color: #30303f; opacity: 0.5; user-select: none;">

        <div style="font-size: 0.9rem;">
            &copy; 2022 Miguel Bautista y Alonso Viñé. Algunos derechos reservados.
            <br>
        </div>
        <div style="font-size: 0.8rem">
            <br>Magic: The Gathering es el mejor juego de cartas de la historia, y es una marca registrada de Wizards of the Coast LLC.
            <br>Todas las imagenes y símbolos son proporcionados por Scryfall, y son propiedad de Wizards of the Coast LLC.
            <br>Magicthegratis no es un producto de Wizards of the Coast y no se encuentra en ninguna relación con Wizards of the Coast LLC.
        </div>
        <div style="height: 1rem;"></div>
    </div>
</footer>