<div class="container">

    <!---Buscador-->
    <div class="row justify-content-center">

        <div class="card shadow-md py-3 col-8" style="border-radius: 12px; margin-bottom: 1rem; padding-left: 20px; padding-right: 18px;">

            <!-- Menú -->
            <div class="row px-3 d-flex align-items-center">
                <div class="col d-flex flex-nowrap align-items-center">
                    <!---Título Album-->

                    <div class="h4 mb-0 titulo">
                        <p style="color:dimgray">Mis &Aacute;lbumes</p>
                    </div>
                </div>

                <div class="col text-right">
                    <button pButton class="" label="Nuevo album" icon="pi pi-plus" (click)="crearAlbum()"></button>
                </div>


            </div>

            <hr class="ml-2 mr-3">

            <div [formGroup]="filterForm" class="row og-toolbar">
                <!-- <i class="pi pi-filter"></i> -->
                <div class="col d-flex align-items-center justify-content-between">
                    <input type="text" pInputText class="col" placeholder="Nombre" formControlName="nombre" />
                </div>
                <div class="col d-flex align-items-center">
                    <input type="text" pInputText class="col" placeholder="Color" formControlName="color" />
                </div>
            </div>

        </div>
    </div>

    <div class="row">

        <div class="col-12">

            <!---Albums de la colección-->
            <div class="container mt-5">
                <div class="row">

                    <div class="col-12 row mt-3 text-center d-flex justify-content-center" *ngIf="albums?.length==0 ">
                        <div class="alert alert-info col-7">
                            No hay ningún album aún, ¿a qué esperas?
                        </div>
                    </div>

                    <ul class="listaAlbumes" *ngIf="albumsPagina?.length>0">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-3" *ngFor="let album of albumsPagina">
                                    <li routerLinkActive="active">
                                        <a class="link-album" routerLink="/album/{{album.id}}">
                                            <div class="album">
                                                <div *ngIf="album.portada?.main_image" class="imagen-album portada" style="background-image: url({{album.portada.main_image.art_crop}}) ">
                                                    <div class="portada-wrap">
                                                        <div class="titulo-album ">
                                                            {{album.nombre.charAt(0).toUpperCase() + album.nombre.split(' ')[0].substring(1,6)}}
                                                        </div>
                                                        <div class="iconos-mana-wrap">
                                                            <div class="iconos-mana">
                                                                <div *ngFor="let color of album.colores.split('')">
                                                                    <span [innerHTML]=" '{' + color.toUpperCase() + '}' | simbolos: '28px' "></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div *ngIf="!album.portada " class="imagen-album cover" style="background-image: url( './assets/images/album/album-cover-v2.png') ">
                                                    <div class="titulo-album ">
                                                        {{album.nombre.charAt(0).toUpperCase() + album.nombre.split(' ')[0].substring(1,6)}}
                                                    </div>
                                                    <div class="iconos-mana-wrap">
                                                        <div class="iconos-mana">
                                                            <div *ngFor="let color of album.colores.split('')">
                                                                <span [innerHTML]=" '{' + color.toUpperCase() + '}' | simbolos: '28px' "></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="datos-album text-center row align-items-center justify-content-between ">
                                                <span class="col text ml-2 mr-1 ">{{album.nombre}}</span>
                                                <span *ngIf="album.totalCartas !==u ndefined " class="total-cartas col-2 ">{{album.totalCartas}}</span>
                                            </div>
                                            <br>
                                        </a>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>

            <!---PAGINADOR-->
            <p-paginator #p *ngIf="totalAlbums " styleClass="paginator " [rows]="numAlbumsPagina " [totalRecords]="totalAlbums " [rowsPerPageOptions]="[6,12,24,48]" (onPageChange)="paginate($event) "></p-paginator>

        </div>
    </div>
</div>