<ul class="alert alert-danger" *ngIf="errores?.length>0">
    <li *ngFor="let error of errores">{{error}}</li>
</ul>

<div *ngIf="album" class="d-flex justify-content-center text-center">


    <div class="card col-8 card1">

        <!---Título-->
        <div class="card-header row align-items-center" style="color:darkgray">
            <div class="h4 mt-2 col" style="text-align: left;">
                <a class="btn btn-light boton-album" routerLink="/album/{{album.id}}">
                    <span class="h4">{{album.nombre}}</span>
                </a>
                <i class="pi pi-chevron-right pl-1 pr-2"></i> Opciones
            </div>
            <!---Eliminar Album-->
            <div class="col-2">
                <button pButton label="Eliminar" icon="pi pi-trash" (click)="eliminarAlbum()"></button>
            </div>
        </div>

        <div class="cad-body row col-12 text-center mx-0 alturaminima">
            <div class="col-12">

                <!---Editar nombre-->
                <form class="row mt-3" [formGroup]="formAlbum" #formularioOpciones="ngForm" method="post">

                    <div class="form-group col-9">
                        <div class="row">
                            <label for="nombre" class="form-label text-left m-2">Nombre</label>
                            <div class="inputFormulario p 0">
                                <input type="text" class="form-control" formControlName="nombre" name="nombre" placeholder="Nuevo nombre">
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-2">
                        <button class="btn btn-primary" role="button" (click)='editar()'>
                              <i class="bi bi-search"></i>
                              Editar
                          </button>
                    </div>
                </form>
                <hr>

                <!---Exportar album a zip-->
                <div class="row m-4 justify-content-between align-items-center" style="height: 100px;">
                    <p class="col-6 h4 pt-3" style="color:darkgray">Imprime tu album:</p>
                    <app-zip [album]="album" class="col-4 w-100"></app-zip>
                </div>

            </div>
        </div>


    </div>
</div>