.titulo {
    color: #0066A1;
    font-size: 25px;
    margin-bottom: 15px;
    font-family: Copperplate, Copperplate Gothic Light, fantasy;
}

.card1 {
    margin-top: 2.5rem;
}

.card1 .cad-body .row {
    margin: 35px auto !important;
}