.titulo {
    color: #0066A1;
    font-size: 25px;
    margin-bottom: 15px;
    font-family: Copperplate, Copperplate Gothic Light, fantasy;
}

.card1 {
    margin-top: 2.5rem;
}

.boton-album {
    color: darkgray;
    background-color: transparent;
}

.boton-album:hover {
    background-color: #e2e6ea;
}

.boton-album:active {
    color: gray !important;
}