<ul class="alert alert-danger" *ngIf="errores?.length>0">
    <li *ngFor="let error of errores">{{error}}</li>
</ul>

<div *ngIf="album" class="d-flex justify-content-center text-center">

    <div class="card col-8 card1 shadow">

        <!---Título-->
        <div class="card-header row align-items-center" style="color:darkgray">
            <div class="h4 mt-2 col" style="text-align: left;">
                <a class="btn btn-light boton-album" routerLink="/album/{{album.id}}">
                    <span class="h4">{{album.nombre}}</span>
                </a>
                <i class="pi pi-chevron-right pl-1 pr-2"></i> Opciones
            </div>
        </div>

        <div class="cad-body container text-center mx-0 alturaminima">

            <!---Editar nombre-->
            <form [formGroup]="formAlbum" #formularioOpciones="ngForm" method="post">
                <div class="row align-items-center m-4">
                    <div class="col-5 text-left">
                        <label for="nombre" class="h6" style="color:darkgray">
                            <i class="pi pi-pencil pr-3"></i>Nuevo nombre
                        </label>
                    </div>

                    <div class="col-7">
                        <input pInputText type="text" class="form-control" formControlName="nombre" name="nombre" placeholder="Nuevo nombre">
                    </div>

                    <div class="col-1" *ngIf="formAlbum.value.nombre != album.nombre">
                        <button pButton role="button" icon="pi pi-save" (click)='editar()'></button>
                    </div>
                </div>

                <div class="row align-items-center justify-content-between m-4">
                    <div class="col-5 text-left">
                        <label for="nombre" class="h6" style="color:darkgray">
                            Portada del Album
                        </label>
                    </div>

                    <div class="col-7">
                        <input pInputText type="text" class="form-control" formControlName="imagen" name="nombre" placeholder="Nuevo nombre">
                    </div>
                </div>

            </form>

            <hr style="margin: 0">

            <!---Exportar album a zip-->
            <div class="row m-4 justify-content-between align-items-center">
                <p class="col-12 h4 p-3" style="color:darkgray; text-align: center;">Imprime tu album:</p>
                <app-pdf [album]="album" class="col-4 w-100"></app-pdf>
                <app-zip [album]="album" class="col-4 w-100"></app-zip>
                <div class="col-4">
                    <button pButton icon="pi pi-download" class="p-button-secondary w-100" label="Exportar en Texto"></button>
                </div>
            </div>

            <hr style="margin: 0">

            <!---Exportar album a zip-->
            <div class="row m-4 justify-content-between align-items-center">
                <div class="col-5 text-left">
                    <label for="nombre" class="h6" style="color:darkgray">
                        Eliminar album
                    </label>
                </div>

                <!---Eliminar Album-->
                <div class="col-3">
                    <button pButton label="Eliminar" icon="pi pi-trash" class="p-button-danger w-100" (click)="eliminarAlbum()"></button>
                </div>
            </div>

        </div>


    </div>
</div>