
<div class="container">
    <div class="row">

        <div class="col">
            <h1 id="h1-superior">¿Qué es Magic the Gratis?</h1>
            <hr>
            <div class="text-justify">
                01. Describe que haces y porqué lo haces

                Probablemente si tus visitantes llegaron a esta página querrán conocer más acerca de tu marca.  Utiliza la página de “Quiénes somos” para informarle a tus lectores lo que ofreces. Aunque otras secciones de tu página presentan una reseña completa de tus productos y servicios, esta página es el lugar indicado para incluir un resumen breve de la compañía y presentar que hacen tus productos únicos. 



                quienes somos ejemploquienes somos ejemplo


                02. Comparte tu historia

                A quien no le encanta una buena historia y especialmente a los visitantes de tu sitio web. Los clientes que visiten tu página estarán interesados ​​en la historia detrás de tu marca y saber cuándo, dónde y cómo nació tu negocio. Cuéntales acerca de tu pasión por tu producto y el descubrimiento de la idea detrás de tu negocio. Si tienes ya algunos años de experiencia en tu industria, no olvides mencionarlo en algún lugar del texto. Tu historia será más eficaz cuando incluya un objetivo comercial y la misión y visión de tu empresa, ya que pueden proporcionar una base sólida para tu historia.



                quienes somos como empresa ejemploquienes somos como empresa ejemplo

                <br>
                03. Agrega un toque personal  

                Es fácil que tus visitantes se pregunten ¿Quiénes son los protagonistas detrás de tu historia? Utiliza la página de "Quiénes somos" justo para informar a tus clientes quién eres. Puedes compartir algo sobre ti y tu carrera: ¿tienes alguna experiencia en especial o un conocimiento especializado específico? ¿O tienes varios años de experiencia en tu industria? 


                También puedes presentar a los miembros de tu equipo, sus talentos y personalidades individuales. La mejor manera de hacerlo es dar un breve texto introductorio para cada miembro del equipo, incluyendo la información de contacto y su puesto en la empresa. De esta forma le das un toque personal a tu empresa, y una clara idea a tus clientes de con quién trabajan. Tus clientes están interesados ​​en todo esto y no debería faltar en la página de "Acerca de nosotros".



                Quien somos biografiaQuien somos biografia

                <br>
                04. Presenta los valores de tu empresa

                Además de la conmovedora historia de tu empresa y las habilidades individuales de todos tus empleados, es crucial compartir con tus clientes los valores de tu empresa. ¿Quizás la sostenibilidad es particularmente importante para ti? La página de  "Acerca de nosotros" es el lugar perfecto para mencionar esto. Presenta los valores, la misión de tu empresa, y la filosofía en la que se basa. Esto también incluye la cultura laboral que cultivas entre tus trabajadores. 



                05. Muestra reseñas y testimonios de clientes

                No hay nada mejor para aumentar la buena reputación de tu empresa que buenos comentarios y testimonios de tus propios clientes. La página de “Quiénes somos” no es un anuncio publicitario pero debe presentar a tu empresa de forma positiva e inspirar confianza. Por lo tanto, te recomendamos agregar reseñas de productos y testimonios de clientes. Pueden aparecer como texto o en formato de video testimonial, y no olvides agregar los nombres y las fotos de tus clientes para aumentar la credibilidad. También no dudes en compartir cualquier testimonio, independientemente de si se trata de clientes, socios, artículos de prensa, sellos o certificados. Por ejemplo, si has salido en los medios, comparte los recortes de prensa. Todo esto puede ayudarte a generar confianza en los clientes, fortalecer tu marca y sin duda ayudar a clientes potenciales a finalizar su compra. 



                Consejos adicionales para crear textos y páginas "Acerca de nosotros":


                Utiliza la voz de tu compañía

                Toda marca tiene un estilo de voz o tono de marca, es decir, una forma en la que se comunica con sus clientes y partes interesadas. Dado que la página de "Acerca de nosotros" hace una contribución significativa a la marca de tu empresa, debes enfocarte en escribirla en el tono al que tus lectores están acostumbrados. Por lo tanto, mantén el estilo de redacción con el que te comunicas en tus campañas de marketing, redes sociales y en todas otras sub-páginas de tu sitio web.



                Agrega una mezcla de fotos y videos 

                Es bastante simple, las fotos y los videos dan un aspecto visual muy atractivo cuando estás presentando tu negocio. Para que los visitantes de tu sitio web puedan obtener una buena imagen de tu empresa, es importante agregar fotos y videos a tu página de "Acerca de nosotros". Por supuesto, las fotos de los empleados o de tu equipo son particularmente adecuadas para este tipo de páginas, al igual que los videos cortos y 
                                
            </div>

            <h2>¿Necesitas una ayudita?</h2>
            <div class="text-justify">
                Aquí podrás acceder a las diferentes guías de apoyo. ¡No esperes más, descubre qué puedes hacer!

                Lista de desplegables de ayuda.
            </div>
        </div>
    
    </div>
</div>
